@{
    ViewData["Title"] = "FlightDetails";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<section class="banner-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="search-box">
            <form class="book-form">
                <div class="row justify-content-center mb-20-none">
                    <!-- Nereden ve Nereye kısımları yanyana -->
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                        <div class="book-select">
                            <label>Nereden</label>
                            <div class="book-form-icon">
                                <i class="icon-from-airplane"></i>
                            </div>
                            <select class="book-select form--control">
                                <option value="dhaka" selected>Dhaka</option>
                                <option value="london">London</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                        <div class="book-select">
                            <label>Nereye</label>
                            <div class="book-form-icon">
                                <i class="icon-to-airplane"></i>
                            </div>
                            <select class="book-select form--control">
                                <option value="london" selected>London</option>
                                <option value="dhaka">Dhaka</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mb-20-none">
                    <!-- Gidiş ve Dönüş Tarihi kısımları yanyana -->
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                        <label>Gidiş Tarihi</label>
                        <input type="date" class="book-select form--control" value="2025-04-11">
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                        <label>Dönüş Tarihi</label>
                        <input type="date" class="book-select form--control" value="2025-04-11">
                    </div>
                </div>

                <div class="row justify-content-center mb-20-none">
                    <!-- Yetişkin ve Çocuk Sayısı kısımları yanyana -->
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                        <label>Yetişkin Sayısı</label>
                        <div class="book-quantity">
                            <div class="book-plus-minus">
                                <div class="dec qtybutton">-</div>
                                <input class="book-plus-minus-box qty" type="text" name="qty" value="1" readonly>
                                <div class="inc qtybutton">+</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 form-group">
                        <label>Çocuk Sayısı</label>
                        <div class="book-quantity">
                            <div class="book-plus-minus">
                                <div class="dec qtybutton">-</div>
                                <input class="book-plus-minus-box qty" type="text" name="qty" value="0" readonly>
                                <div class="inc qtybutton">+</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center mb-20-none">
                    <!-- Bilet Ara butonu ortalı -->
                    <div class="col-xl-12 form-group text-center">
                        <button type="submit" class="btn--base ml-auto mr-auto mt-30">
                            <i class="icon-btn-icon"></i> Bilet Ara
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="feature-section page-wrapper-two" style="padding-top: 60px; padding-bottom: 120px;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 text-center">
                <div class="section-header" data-aos="fade-up" data-aos-duration="1200">
                    <span class="sub-title text--base">Uçuş Rotaları</span>
                    <h2 class="section-title">En Popüler Uçuş Rotalarımızı Keşfedin.</h2>
                </div>
            </div>
        </div>
        <div class="feature-area" data-aos="fade-up" data-aos-duration="1200">
            <div class="row justify-content-center m-0">

                <!-- 1 -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0">
                    <div class="feature-item">
                        <div class="feature-icon">
                           <img src="@Url.Content("~/flynext/assets/images/siteicerik/izmir.jpg")" alt="Lizbon">
                        </div>
                        <div class="feature-content">
                            <h3 class="title">İstanbul (IST)-
                                İzmir (ADB)</h3>
                            <p>10 Nisan Per - 22 Nisan Sal</p>
                            <p>Gidiş-Dönüş / Ekonomi</p>
                            <p class="price">TRY2,633*</p>
                            <div class="feature-btn"><a href="#">Bilet Al</a></div>
                        </div>
                    </div>
                </div>

                <!-- 2 -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0">
                    <div class="feature-item">
                        <div class="feature-icon">
                           <img src="@Url.Content("~/flynext/assets/images/siteicerik/antalya.jpg")" alt="Lizbon">
                        </div>
                        <div class="feature-content">
                            <h3 class="title">Antalya (AYT)-
                                İstanbul (IST)</h3>
                            <p>12 Nisan Cmt - 17 Nisan Per</p>
                            <p>Gidiş-Dönüş / Ekonomi</p>
                            <p class="price">TRY3,283*</p>
                            <div class="feature-btn"><a href="#">Bilet Al</a></div>
                        </div>
                    </div>
                </div>

                <!-- 3 -->
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0">
                    <div class="feature-item">
                        <div class="feature-icon">
                           <img src="@Url.Content("~/flynext/assets/images/siteicerik/lefkosa.jpg")" alt="Lizbon">
                        </div>
                        <div class="feature-content">
                            <h3 class="title">İstanbul (IST)-
                                Lefkoşa (ECN)</h3>
                            <p>15 Nisan Sal - 22 Nisan Sal</p>
                            <p>Gidiş-Dönüş / Ekonomi</p>
                            <p class="price">TRY4,909*</p>
                            <div class="feature-btn"><a href="#">Bilet Al</a></div>
                        </div>
                    </div>
                </div>

                <!-- 4 -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0">
                    <div class="feature-item">
                        <div class="feature-icon">
                           <img src="@Url.Content("~/flynext/assets/images/siteicerik/newyorkist.jpg")" alt="Lizbon">
                        </div>
                        <div class="feature-content">
                            <h3 class="title">İstanbul (IST)-
                                New York (JFK)</h3>
                            <p>5 Nisan Sal - 25 Nisan Cum</p>
                            <p>Gidiş-Dönüş / Ekonomi</p>
                            <p class="price">TRY25,070*</p>
                            <div class="feature-btn"><a href="#">Bilet Al</a></div>
                        </div>
                    </div>
                </div>

                <!-- 5 -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0">
                    <div class="feature-item">
                        <div class="feature-icon">
                           <img src="@Url.Content("~/flynext/assets/images/siteicerik/kayseri.jpg")" alt="Lizbon">
                        </div>
                        <div class="feature-content">
                            <h3 class="title">İstanbul (IST)-
                                Kayseri (ASR)</h3>
                            <p>11 Nisan Cum - 18 Nisan Cum</p>
                            <p>Gidiş-Dönüş / Ekonomi</p>
                            <p class="price">TRY2,644*</p>
                            <div class="feature-btn"><a href="#">Bilet Al</a></div>
                        </div>
                    </div>
                </div>

                <!-- 6 -->
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-0">
                    <div class="feature-item">
                        <div class="feature-icon">
                           <img src="@Url.Content("~/flynext/assets/images/siteicerik/cov.jpg")" alt="cov">
                        </div>
                        <div class="feature-content">
                            <h3 class="title">İstanbul (IST)-
                                Adana-Mersin (COV)</h3>
                            <p>08 Nisan Sal - 12 Nisan Cmt</p>
                            <p>Gidiş-Dönüş / Ekonomi</p>
                            <p class="price">TRY4,034*</p>
                            <div class="feature-btn"><a href="#">Bilet Al</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<style>
/* Genel Ayarlar */
.container {
    max-width: 1000px;
    margin: auto;
}
.banner-section {
    background-image: url('@Url.Content("~/flynext/assets/images/siteicerik/kampanya.jpg")');
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 100px 0;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.search-box {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    background-color: black;
    background: rgba(0,0,0,0.5);

}
.title {
    color: #d0021b;
    font-weight: bold;
    margin-bottom: 20px;
}
.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.form-control {
    flex: 1 1 180px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.btn-small {
    padding: 8px 12px;
    font-size: 14px;
}
    .feature-item {
        background: #fff;
        border-radius: 12px;
        border: 1px solid #ddd;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.06);
        padding: 20px;
        margin: 20px;
        text-align: center;
        transition: all 0.3s ease;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 350px;
    }

    .feature-item:hover {
        box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
    }

    .feature-icon img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-radius: 10px;
          margin-bottom: 50px; 
    }

    .feature-content .title {
        font-size: 20px;
        font-weight: 600;
        color: #222;
        margin-bottom: 10px;
        padding-top: 30px;
    }

    .feature-content p {
        font-size: 15px;
        color: #555;
        flex-grow: 1;
       
    }
    .feature-item .price {
    font-size: 16px;
    font-weight: bold;
    color: #d0021b;
}
    .feature-btn a {
        display: inline-block;
        margin-top: 20px;
        background-color: #e60023;
        color: white;
        padding: 10px 22px;
        border-radius: 6px;
        font-size: 15px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .feature-btn a:hover {
        background-color: #c4001a;
    }

</style>

