@using EntityLayer.Concrete
@model List<Flight>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>Index</h1>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Flight List</h2>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Flight ID</th>
						<th>Flight Name</th>
						<th>Departure</th>
						<th>Arrival</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var flight in Model)
					{
						<tr>
							<td>@flight.FlightID</td>
							<td>@flight.AirlineID</td>
							<td>@flight.Departure_Airport</td>
							<td>@flight.Arrival_Airport</td>
							<td>@flight.Flight_Price</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
