<div class="page-wrapper dark">
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   Start Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<header class="header-section header-section-one">
    <div class="header">
        <div class="header-bottom-area">
            <div class="container-fluid">
                <div class="header-menu-content">
                    <nav class="navbar navbar-expand-lg p-0">
                        <a class="site-logo site-title" href="@Url.Action("Index", "Home")">
                            <img src="~/flynext/assets/images/logo.png"
                                 alt="site-logo">
                        </a>
                        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="fas fa-bars"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu ml-auto">
                                <li>
                                    <a href="@Url.Action("Index", "Home")">Ana Sayfa</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Flight", "Flight")">Uçuşlar</a>
                                </li>
                                <li class="menu_has_children">
                                    <a href="#0">Hizmetler</a>
                                    <ul class="sub-menu">
                                        <li><a href="@Url.Action("BusinessClass", "Flight")">Business Class</a></li>
                                        <li><a href="@Url.Action("EconomyClass", "Flight")">Economy Class</a></li>
                                        <li><a href="@Url.Action("CheckinBiletyonetimi", "Flight")">Checkin ve Bilet</a></li>
                                        <li><a href="@Url.Action("seatselection", "Flight")">Koltuk Seçimi</a></li>
                                        <li><a href="@Url.Action("ExtraBaggage", "Flight")">Ekstra Bagaj</a></li>
                                        <li><a href="@Url.Action("InFlightCatering", "Flight")">Uçuş İçi İkram</a></li>
                                        <li><a href="@Url.Action("InflightEntertainment", "Flight")">Uçuş İçi Eğlence</a></li>
                                    </ul>
                                </li>
                                <li class="menu_has_children">
                                    <a href="#0">Bilgi</a>
                                    <ul class="sub-menu">
                                        <li><a href="@Url.Action("UcusDurumu", "Flight")">Uçuş Durumu</a></li>
                                        <li><a href="@Url.Action("Flightdeals", "Flight")">Uçuş Fırsatları</a></li>
                                        <li><a href="@Url.Action("StudentDiscount", "Flight")">Öğrenci İndirimi</a></li>
                                        <li><a href="@Url.Action("Offer", "Flight")">Kampanyalar</a></li>
                                        <li><a href="@Url.Action("FrequentlyAskedQuestions", "Flight")">SSS</a></li>
                                        <li><a href="@Url.Action("HelpCenter", "Flight")">Yardım Merkezi</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("ContactUs", "Flight")">İletişim</a></li>
                            </ul>
                            <div class="header-right">
                                <div class="search-bar d-none d-lg-block">
                                    <a href="#0"><i class="fas fa-search"></i></a>
                                    <div class="header-top-search-area">
                                        <form class="header-search-form" action="#" method="GET">
                                            <input type="search" name="keyword" id="header_search"
                                                   placeholder="Ara...">
                                            <button class="header-search-btn">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                <div class="header-action-area">
                                    <div class="header-action">
                                        <a href="@Url.Action("Login", "Account")" class="btn--base">
                                            <i class="fas fa-user"></i> Giriş Yap
                                        </a>
                                    </div>
                                    <div class="header-action ml-2">
                                        <a href="@Url.Action("Register", "Account")" class="btn--base">
                                            <i class="fas fa-user-plus"></i> Kayıt Ol
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    End Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
</div>